@media screen and (max-width: 1899px){
    
    header.header{ height: 100px; }
    .header .container{ padding: 26px 15px; }
    .section{ padding-top: 50px; padding-bottom: 50px; }
    .lend-borrower_section .tab-content .row{ margin: 0 -15px; }
    .lend-borrower_section .tab-content .row> div{ padding-left: 15px; padding-right: 15px; }
    .row.row--carousal{ margin: 0 -15px; }
    .carousal .slide{ padding-left: 30px; padding-right: 30px; }
    .banner_section h1{ font-size: 60px; line-height: 80px; }
    .loan_process_section h2, .lend-borrower_section h2, .download_app_section h2,
    .sec_title{ font-size: 50px; line-height: 66px; }
    .row.m-lr-30{ margin-left: -15px; margin-right: -15px; }
    .row.m-lr-30 > div{ padding-left: 15px; padding-right: 15px; }
    .loan_process_section ul.nav-tabs.inline_view li a{ font-size: 20px; padding: 0; }
    .header .page_nav ul{ margin-right: 0; }
    .header .page_nav ul li{ margin-right: 20px; font-size: 16px; }
    .header .btn{ font-size: 16px; }
    .header .logo{ width: 180px; padding: 24px 15px; }
    .footer .main_footer .container{ padding-left: 15px; }
    .register_process .box .step_name{ font-size: 24px; line-height: 28px; }
    .banner_section .points li{ font-size: 24px; }
    .about_us-sec .row, .why_are-sec .row{ margin: 0 -15px; }
    .about_us-sec .row>div, .why_are-sec .row > div{ padding: 0 15px; }
    .about_us-sec .sec_title{ font-size: 50px; line-height: 66px; margin-bottom: 30px; }
    section.why_are-sec .content-side{ padding-top: 30px; }
    .mission_vision_sec .box .icon-side{ width: 110px; }
    .mission_vision_sec .box .content-side{ width: calc(100% - 110px); padding-left: 30px; }
    .contact_form_section h1{ font-size: 56px; }
    .form_area h4{ font-size: 28px; }

}

@media screen and (max-width: 1439px){

    .banner_section h1,
    .loan_process_section h2, .lend-borrower_section h2, .download_app_section h2, .sec_title, .about_us-sec .sec_title{
        font-size: 40px; line-height: 56px;
    }
    .lend-borrower_section ul.nav-tabs{ margin-bottom: 0; }
    ul.nav-tabs li a{ font-size: 26px; line-height: 42px; }
    .lend-borrower_section .tab-content h3,
    .icon-content-flex h3, .platform_landscape_sec h4, .why_lend_reasons .icon-content h3, 
    .why_borrow_reasons .icon-content h3{ font-size: 20px; line-height: 24px; }
    .lend-borrower_section .tab-content p,
    .icon-content-flex p, .why_borrow_reasons .icon-content P{ font-size: 16px; line-height: 26px; }
    .lend-borrower_section .tab-content .icon-wrapper{ width: 70px; height: 70px; }
    .loan_process_section .main-tab-content{ padding-left: 80px; }
    .loan_process_section .main-tab-content .step_detail{ font-size: 28px; line-height: 38px; }
    ul.nav-tabs.list_view li a{ font-size: 20px; line-height: 26px; padding: 14px 30px; }
    .leanding_features_section .slide p{ font-size: 16px; line-height: 26px; }
    .interestng_reads_section .slide h4{ font-size: 22px; line-height: 34px; }
    .testimonial_sec .slide .box .desc, .testimonial_sec .slide .box .desc p{ font-size: 16px; line-height: 26px; }
    .download_app_section .digits{ font-size: 60px; line-height: 52px; }
    .participate_section h4{ font-size: 32px; line-height: 42px; }
    .participate_section p{ font-size: 20px; }
    .participate_section .mobile_no_form .btn-start_now{ width: 200px; }
    .participate_section .mobile_no_form .form-group{ max-width: calc(100% - 220px); }
    .footer .main_footer{ padding-top: 50px; }
    .footer .copyright{ padding-bottom: 80px; }
    .leanding_features_section .slide .figure_img img{ max-width: 60%; }
    p{ font-size: 20px; line-height: 32px; }
    .eligibility_criteria_sec .box h5{ font-size: 18px; }
    .eligibility_criteria_sec .box{ width: 300px; padding: 15px; }
    .title_wrap p, .title_wrap .sub_title, .sub_title{ font-size: 20px; line-height: 28px; }
    .title_wrap p{ max-width: 840px; }
    .register_process .box .step_name{ font-size: 20px; line-height: 22px; }
    .register_process .box .step_no{ font-size: 100px; line-height: 70px; }
    .register_process .box .icon{ height: 190px; }
    .register_process .box .icon img{ max-height: 70px; }
    .know_borrower_sec ul.three-col li{ font-size: 18px; line-height: 20px; }
    .interestng_reads_section .slide .figure_desc{ padding: 25px; }
    .interestng_reads_section .slide .view{ font-size: 16px; line-height: 20px; left: 25px; }
    .interestng_reads_section .slide .view::after{ margin-top: -2px; font-size: 25px; margin-left: 12px; }
    .faqs .card .card-header{ padding: 20px; padding-right: 40px; }
    .faqs .card .card-header h6{ font-size: 18px; }
    .faqs .card .card-body p, .faqs .card .card-body ul li{ font-size: 16px; line-height: 22px; }
    .faqs .card .card-header .btn-accordian{ width: 64px; height: 64px; background-size: 18px !important; }
    .faqs .card .card-body{ padding: 0 20px 15px 20px; }
    .faqs .card{ margin-bottom: 30px; }
    .returns_charges_sec .article-charges .detail p{ font-size: 18px; line-height: 24px; }
    .banner_section .points li{ font-size: 20px; }
    .eligibility_criteria_sec .row > div{ padding: 15px; }
    .check_cibil_score h4{ font-size: 26px; }
    .mission_vision_sec .box{ padding: 30px; }
    .mission_vision_sec .box p{ font-size: 20px; line-height: 32px; }
    .form_area{ max-width: 480px; }

}

@media screen and (max-width: 1299px){

    .lending_process .steps_details .row{ margin: 0 -15px; }
    .lending_process .steps_details .row > div{ padding: 15px; }
    .carousal .slide{ padding-left: 15px; padding-right: 15px; }

}

@media screen and (max-width: 1199px){

    header.header{ margin-bottom: 40px; }
    .header .logo{ max-width: 150px; padding: 20px 15px; }
    .header .page_nav ul li{ font-size: 14px; margin-right: 10px; }
    .header .page_nav ul li a{ padding: 14px 10px; }
    .header .page_nav ul li.menu-item-has-childrens > a::after{ padding: 3px; margin-top: -7px; }
    .header .btn{ font-size: 14px; padding: 5px 20px; }
    .header .btn-login{ margin-right: 5px; }
    .banner_section h1, .loan_process_section h2, .lend-borrower_section h2, .download_app_section h2, .sec_title,
    .sec_title, .about_us-sec .sec_title{
        font-size: 26px;
        line-height: 42px;
    }
    .banner_section .mobile_no_form{ margin-top: 30px; max-width: 300px; }
    .mobile_no_form label{ font-size: 14px; margin-bottom: 5px; }
    .mobile_no_form .input_field .prefix{ font-size: 26px; }
    .mobile_no_form .input_field .form-control{ font-size: 26px; padding-left: 75px; }
    input[type='button'], input[type='submit'], button{ height: 45px; padding: 8px 20px; }
    .lend-borrower_section ul.nav-tabs{ padding-left: 0; }
    ul.nav-tabs li a{ font-size: 20px; line-height: 36px; }
    .lend-borrower_section .tab-content{ padding: 15px 0; }
    .lend-borrower_section .tab-content .row > div{ padding: 30px 15px; }
    .loan_process_section h2{ margin-top: 0; }
    .loan_process_section .main-tab-content{ padding: 30px 15px; margin: 0 -15px; margin-top: 30px; }
    .section{ padding-top: 20px; padding-bottom: 20px; }
    .title_wrap{ margin-bottom: 40px; }
    .carousal .slide{ padding-left: 10px; padding-right: 10px; }
    .leanding_features_section .slide .figure_img{ height: 250px; }
    .leanding_features_section .slide h4{ font-size: 18px; }
    .leanding_features_section .slide .figure_desc{ padding: 15px 15px 30px; }
    .interestng_reads_section .slide .figure_desc{ padding: 15px; }
    .interestng_reads_section .slide h4{ font-size: 18px; line-height: 30px; }
    .interestng_reads_section .slide .view{ font-size: 14px; left: 15px; line-height: 20px; }
    .interestng_reads_section .slide .view::after{ font-size: 20px; margin-left: 10px; margin-top: -3px; }
    .testimonial_sec .slide .box .desc{ padding: 30px 15px; }
    .testimonial_sec .slide .box:before{ width: 34px; height: 26px; top: -18px; }
    .testimonial_sec .slide .box .writer{ padding: 15px; }
    .testimonial_sec .slide .box .writer .writer_img img{ width: 40px; height: 40px; }
    .testimonial_sec .slide .box .writer .name{ font-size: 16px; }
    .testimonial_sec .slide .box .writer .pose{ font-size: 14px; }
    .slick-slider .slick-dots{ bottom: -60px; }
    .download_app_section .digits{ font-size: 40px; line-height: 32px; }
    .download_app_section h6{ font-size: 16px; line-height: 20px; }
    .download_links img{ max-width: 120px; }
    .download_app_section .download_links{ margin-top: 20px; }
    .participate_section h4{
        font-size: 26px;
        line-height: 42px;
    }
    .participate_section .mobile_no_form .btn-start_now{ height: 45px; }
    .footer .heading{ font-size: 16px; }
    .footer ul li{ font-size: 14px; }
    .loan_process_section .main-tab-content p{ font-size: 16px; line-height: 20px; }
    .banner_section .points{ margin-top: 30px; }
    .banner_section .points li{ font-size: 16px; }
    .banner_section .points li img{ max-width: 20px; }
    .why_lend_sec .sec_title + p br{ display: none; }
    .why_lend_sec .sec_title{ min-height: auto; margin-bottom: 0; }
    p{ font-size: 16px; line-height: 32px; }
    .sec_title br{ display: none; }
    .title_wrap p, .title_wrap .sub_title, .sub_title, .col-left .title_wrap .sub_title{ font-size: 16px; line-height: 24px; margin-top: 10px; }
    .register_process .box .step{ padding: 15px 10px; }
    .register_process .box .step_no{ font-size: 40px; line-height: 40px; }
    .register_process .box .step_name{ font-size: 14px; line-height: 16px; padding-left: 5px; }
    .register_process .box .icon{ padding: 30px 40px; height: 130px; }
    .lending_process .flow_diagram .step{ width: 150px; margin-right: 70px; }
    .lending_process .flow_diagram .step h6{ font-size: 14px; line-height: 16px; }
    .lending_process .flow_diagram .step .link{ width: 70px; border-width: 1px; }
    .lending_process .flow_diagram{ max-width: 590px; }
    .lending_process .flow_diagram::after{ border-width: 1px; right: -35px; }
    .lending_process .flow_diagram .step.step3 .link, .lending_process .flow_diagram .step.step6 .link{ width: 35px; }
    .lending_process .steps_details p{ font-size: 14px; line-height: 18px; }
    .returns_charges_sec .article .heading_wrap h5{ font-size: 20px; }
    .returns_charges_sec .article .heading_wrap p,
    .returns_charges_sec .article-charges .detail p{ font-size: 14px; line-height: 18px; }
    .returns_charges_sec .article ul h6{ font-size: 16px; }
    .returns_charges_sec .article ul p{ font-size: 14px; }
    .returns_charges_sec .article ul li::before{ font-size: 22px; }
    ul.list-type-arrow li{ padding-left: 20px; }
    .returns_charges_sec .article-charges .fees .box h5{ font-size: 14px; line-height: 18px; }
    .returns_charges_sec .article-charges .fees .box{ padding: 15px; }
    .returns_charges_sec .article-charges .fees .box .unit{ font-size: 30px; line-height: 30px; }
    .returns_charges_sec .article-charges .fees .box .unit sub{ font-size: 14px; display: inline-block; width: 20px; }
    .returns_charges_sec .article-charges .fees .box .unit sup{ font-size: 30px; top: -3px; }
    .know_borrower_sec .sec_title{ margin-bottom: 0; }
    .know_borrower_sec article{ padding: 20px 15px; }
    .know_borrower_sec ul.three-col li{ font-size: 14px; }
    .faqs .card, .faqs .card:last-child{ margin-bottom: 15px; }
    .borrower-banner_section .points li{ font-size: 14px; margin-right: 10px; }
    .row.m-tb-65{ margin-top: -30px; margin-bottom: -30px; }
    .row.m-tb-65 > div{ padding-top: 30px; padding-bottom: 30px; }
    .documents_for_reg .doc_container .row{ margin: 0 -15px; }
    .documents_for_reg .doc_container .row > div{ padding: 0 15px; }
    .borrower-register_process .row.five-col-md > div{ -ms-flex: 0 0 20%; flex: 0 0 25%; width: 25%; max-width: 25%; }
    .check_cibil_score h4{ font-size: 20px; line-height: 28px; }
    .check_cibil_score .btn{ min-width: auto; font-size: 14px; }
    .check_cibil_score h6{ font-size: 14px; }
    .lending_process .flow_diagram .step.empty_cell::before{ border-width: 1px; }
    .rates_charges_sec .article .heading_wrap{ padding: 15px; }
    .rates_charges_sec .article .detail{ padding: 15px; }
    .rates_charges_sec .article .heading_wrap h5{ font-size: 16px; }
    .rates_charges_sec .article ul h6{ font-size: 16px; line-height: 22px; }
    .know_lender_sec .tile h5{ font-size: 16px; line-height: 22px; }
    .know_lender_sec .tile p{ font-size: 14px; line-height: 18px; }
    .know_lender_sec .tile .icon-wrapper{ width: 45px; }
    .know_lender_sec .tile .icon-content{ width: calc(100% - 45px); padding-left: 15px; }
    .know_lender_sec img{ max-width: 250px; }
    section.why_are-sec .content-side{ padding-top: 0; }
    .why_are-sec .sec_title, .about_us-sec .sec_title{ margin-bottom: 0px; }
    .mission_vision_sec .box{ padding: 15px; }
    .mission_vision_sec .box .icon-side{ width: 70px; }
    .mission_vision_sec .box .content-side{ width: calc(100% - 70px); padding-left: 15px; }
    .mission_vision_sec .box h4{ font-size: 20px; }
    .mission_vision_sec .box p{ font-size: 16px; line-height: 24px; }
    .our_team_sec .box{ width: 165px; }
    .our_team_sec .box .member_img{ height: 180px; }
    .our_team_sec .box figcaption .name{ font-size: 16px; line-height: 22px; }
    .our_team_sec .box figcaption .pose{ font-size: 12px; line-height: 14px; }
    .our_team_sec .row{ margin: 0 -10px; }
    .our_team_sec .row>div{ padding: 0 10px; }
    .contact_form_section h1{ font-size: 38px; }
    .form_area h4{ font-size: 20px; margin-bottom: 20px; }
    .form_area .form_wrap{ padding: 25px 15px; }
    .form_area .form-label{ font-size: 16px; line-height: 40px; height: 40px; }
    .form_area .form-group.focused .form-label{ font-size: 12px; }
    .form_area .form-group{ margin-bottom: 30px; }
    .form_area .form-control{ height: 40px; }
    .form_area .btn{ min-width: auto; }
    .contact_form_section .item_block p{ font-size: 16px; line-height: 20px; }
    .item_block.chat .row > div{ margin-bottom: 30px; }
    .item_block.chat .row > div:last-child{ margin-bottom: 0; }
    .map_section .iframe_map{ height: 300px; }
    .map_section .iframe_map .location{ transform: scale(0.5); }
    .form_area{ margin-bottom: 50px; }
    .map_section .iframe_map{ height: 440px; border-radius: 0; margin: 0 -15px; }
    .map_section.section{ padding-bottom: 70px; }
 
}

@media screen and (max-width: 767px){

    .btn-humburger{ display: inline-block; }
    header.header{ height: 75px; position: fixed; animation: none !important; z-index: 100; }
    .header .page_nav{
        width: 100%;
        height: calc(100vh - 75px);
        max-height: calc(100% - 75px);
        position: fixed; top: 75px; left: 0; z-index: 50;
        background-color: #fff;
        text-align: left;
        padding: 30px 10px 20px;
        display: none;
    }
    .header .logo{ z-index: 52; width: 120px; padding: 25px 20px; }
    .header .page_nav ul{ display: block; margin-bottom: 10px; }
    .header .page_nav ul li{
        display: block; margin: 0;
    }
    .nav_wrap{
        height: 100%; overflow: auto;
    }
    .header .page_nav ul li a{ display: block; }
    .header .page_nav ul li.menu-item-has-childrens > a::after{ float: right; right: 10px; }
    .header .btn{ margin: 0 10px; }
    .header .other_links{ text-align: center; display: flex; }
    .header .other_links .btn{ width: 50%; }
    .menu-item-has-childrens.active > a:after{ transform: rotate(135deg) !important; margin-top: -3px !important; }
    .header .page_nav ul.sub_menu{
        position: static; border: 0;
        transform: none; margin: 0px; opacity: 1;
        display: none; pointer-events: all;
    }
    .header .page_nav ul li:hover .sub_menu{ transition: none; }
    .header .page_nav ul.sub_menu li a{ padding: 10px 20px 10px 30px; }
    .mob-hide{ display: none; }
    .btn.btn-start_now{ min-width: 115px; }
    input[type='button'], input[type='submit'], button{ padding: 0 25px; }
    .lend-borrower_section ul.nav-tabs{ display: flex; margin-bottom: 20px; }
    .lend-borrower_section ul.nav-tabs li{ margin: 0; width: 50%; }
    ul.nav-tabs li a::after{ height: 2px; }
    .lend-borrower_section .tab-content .column, .icon-content-flex{
        display: flex;
        align-items: center;
    }
    .icon-content-flex{ padding: 15px; }
    .lend-borrower_section .tab-content .icon-wrapper,
    .icon-content-flex .icon-wrapper{ width: 45px; height: 45px; margin: 0; }
    .lend-borrower_section .tab-content .icon-content,
    .icon-content-flex .icon-content{
        width: calc(100% - 50px);
        padding-left: 12px;
    }
    .lend-borrower_section .tab-content .icon-content p, .icon-content-flex .icon-content p{ display: none; }
    .lend-borrower_section .tab-content h3, .icon-content-flex .icon-content h3{ margin-bottom: 0; font-size: 14px; line-height: 18px; }
    .lend-borrower_section .tab-content h3 br, .icon-content-flex .icon-content h3 br{ display: none; }
    .lend-borrower_section .tab-content .row > div{ padding: 10px 15px; }
    .loan_process_section{ background: #EAF6FF; }
    .banner_section h1, .loan_process_section h2, .lend-borrower_section h2, .download_app_section h2, .sec_title{
        font-size: 24px; line-height: 32px;
    }
    .loan_process_section ul.nav-tabs.inline_view{ margin: 0 -15px; margin-top: 20px; }
    .loan_process_section ul.nav-tabs.list_view{
        text-align: left; margin-top: 20px;
    }
    .loan_process_section .main-tab-content{ margin-top: 0; }
    .step-img_side{ display: none; }
    .loan_process_section .main-tab-content .step-content_side{ padding: 10px 15px; }
    .loan_process_section .main-tab-content .tab-content>.tab-pane{ display: block; opacity: 1; }
    .loan_process_section .inner-tab-content .tab-pane:first-child p{ display: block; }
    .loan_process_section .inner-tab-content .tab-pane > p{ display: none; }
    .loan_process_section .main-tab-content .step_name{
        font-family: 'RobotoLight';
        font-size: 16px;
        color: #3D4051;
        letter-spacing: 0;
        line-height: 32px;
        font-weight: 200; margin-bottom: 0;
    }
    .loan_process_section .main-tab-content .step_name::before{ display: none; }
    .loan_process_section .step_detail br{ display: none; }
    .loan_process_section .step_detail{
        font-family: 'RobotoLight';
        font-size: 14px; line-height: normal;
        color: #153A5B;
        font-weight: 400;
        margin-bottom: 0; margin-top: 10px;
        display: none;
    }
    .tab-content.inner-tab-content .row{ margin: 0; }
    .tab-content.main-tab-content{ display: none; }
    ul.nav-tabs.list_view li a{ padding: 10px 0; }
    ul.nav-tabs.list_view li a.active + .step_detail{ display: block; }
    .desk-hide{ display: block; }
    ul.nav-tabs.list_view li a{ font-size: 16px; padding: 0; position: static; }
    ul.nav-tabs.list_view li{
        padding: 15px;
        position: relative;
    }
    ul.nav-tabs.list_view li a::after{
        width: 100%; height: 100%;
        border: 1px solid #FF2565; border-radius: 3px;
        background: transparent; top: 3px; left: 0; margin: 0;
    }
    #lend_borrow-tab{ padding: 30px 0; }
    .section{ padding-top: 50px; padding-bottom: 50px; }
    .leanding_features_section .slide h4{
        text-transform: uppercase; font-family: 'RobotoMedium'; letter-spacing: 0;
    }
    .leanding_features_section .slide p{ font-size: 14px; line-height: 18px; }
    .leanding_features_section .slick-slider .slick-dots{ bottom: 30px; }
    .slick-slider .slick-dots li.slick-active button::before{ font-size: 40px; }
    .download_app_section{ text-align: center; }
    .download_app_section h2{ font-size: 28px; }
    .participate_section .mobile_no_form .form-group{ max-width: none; width: 100%; }
    .participate_section .mobile_no_form .btn-start_now{
        float: none; display: block; margin-top: 20px;
    }
    .mobile_no_form .note{ font-size: 12px; }
    .participate_section .mobile_no_form{ margin-top: 48px; }
    .footer .main_footer .row > div{
        padding: 0 15px;
    }
    .footer .column:first-child .accordian{ border-top  : 1px solid #BFDAEE; }
    .footer .accordian{ border-bottom: 1px solid #BFDAEE; }
    .footer .accordian ul{ display: none; }
    .footer .heading{ margin-top: 22px; }
    .footer .accordian .heading{
        margin: 0; padding: 15px 0; position: relative; text-transform: none;
    }
    .footer .accordian .heading::after{
        content: "\f107";
        font-family: 'FontAwesome'; font-size: 20px;
        position: absolute; right: 0; top: 0;
        padding: 10px 5px;
        line-height: 30px;
        height: 50px;
    }
    .footer .accordian.active .heading::after{ transform: rotate(180deg); }
    .footer .copyright{ padding: 45px 0; }
    p{ font-size: 14px; line-height: 18px; }
    body.menu-open{ position: fixed; width: 100%; overflow: hidden; }
    .leanding_features_section .slide .box{ border-color: #D8D8D8; }
    .loan_process_section ul.nav-tabs.inline_view{ border-bottom-color: rgba(31,153,245,0.2); }
    .leanding_features_section .slick-slider .slick-dots{ bottom: 40px; }
    .slick-slider .slick-dots{ bottom: -40px; }
    .testimonial_sec .slide .box .desc, .testimonial_sec .slide .box .desc p{ font-size: 14px; line-height: 18px; }
    .banner_section h1 br{ display: none; }
    .banner_section h1{ font-size: 28px; }
    .banner_section .points li{ font-size: 14px; margin-right: 28px; margin-bottom: 15px; }
    .sec_title + p{ margin-top: 15px; }
    .text-mob-center{ text-align: center; }
    .platform_landscape_sec .sec_title{ margin-bottom: 15px; }
    .platform_landscape_sec .row.justify-content-between>div{ padding: 25px 0 25px 25px; }
    .lending_process .flow_diagram{ display: none !important; }
    .why_lend_reasons .icon-content-flex .icon-content p{ display: block; }
    .lend-borrower_section .tab-content p, .icon-content-flex p{ font-size: 14px; line-height: 18px; }
    .why_lend_reasons .icon-content-flex .icon-content{ padding-left: 25px; }
    .btn{ padding: 8px 15px; min-width: auto; font-size: 14px; min-width: 150px; }
    .btn_row{ margin-top: 35px; }
    .title_wrap p, .title_wrap .sub_title, .sub_title{ font-size: 14px; line-height: 18px; }
    .eligibility_criteria_sec .box h5{ font-size: 14px; }
    .eligibility_criteria_sec .box h5 br{ display: none; }
    .eligibility_criteria_sec .box .icon{ width: 52px; }
    .eligibility_criteria_sec .box .text{ width: calc(100% - 55px); padding-left: 20px; }
    .eligibility_criteria_sec .box{ width: 100%; padding: 12px 20px; }
    .btn.btn-text{ font-size: 14px; }
    .register_process .box{ display: flex; width: 100%; max-width: none; border-radius: 4px; }
    .register_process .box .icon img{ max-height: 40px; }
    .register_process .box .icon{ padding: 15px 25px; height: auto; border-radius: 0px 40px 0 0; width: 30%; }
    .register_process .five-col-md>div{ padding-bottom: 12px; }
    .register_process .box .step{ padding-right: 30px; width: 70%; }
    .register_process .box .step_no{ font-size: 52px; }
    .register_process .box .step_name{ font-size: 16px; line-height: 18px; }
    .returns_charges_sec .article .img_side{ min-height: auto; padding: 15px !important; }
    .returns_charges_sec .article .img_side, .returns_charges_sec .article .detail{ padding: 15px; }
    .returns_charges_sec .article ul h6{ font-size: 14px; }
    .returns_charges_sec .article ul li::before{ top: -5px; }
    .returns_charges_sec .article{ margin-bottom: 15px; }
    .returns_charges_sec .article .heading_wrap p br{ display: none; }
    .know_borrower_sec ul.three-col li{ width: 50%; }
    ul.list-style-star li::before{ width: 18px; height: 18px; }
    ul.list-style-star li{ padding-left: 20px; padding-right: 10px; }
    .mobile_no_form .btn{ margin-top: 25px; }
    .section.why_lend_sec{ padding-bottom: 0; }
    .sub_title br{ display: none; }
    .eligibility_criteria_sec .row > div{ padding: 10px 15px; }
    .eligibility_criteria_sec .title_wrap, .lending_process .title_wrap{ margin-bottom: 20px; }
    .lending_page .section{ padding-top: 40px; padding-bottom: 40px; }
    .section.eligibility_criteria_sec,
    .section.register_process, .section.lending_process, .section.returns_charges_sec, .section.know_borrower_sec,
    .section.interestng_reads_section{ padding: 30px 0; }
    .section.faq_sec{ padding: 30px 0 60px; }
    .lending_process .steps_details{ margin-top: 30px; }
    .lending_process .steps_details h6{ font-size: 14px; }
    .participate_section p{ font-size: 16px; }
    .participate_section h4{ font-size: 24px; line-height: 34px; }
    .lending_page .interestng_reads_section .title_wrap{ margin-bottom: 40px; }
    .register_process .box .step{ align-items: center; }
    .returns_charges_sec .article-charges .fees .box{ padding: 15px 10px; }
    .pb-sm-15{ padding-bottom: 15px !important; }
    .why_lend_reasons .title_wrap{ margin-bottom: 20px; }
    .interestng_reads_section .slide .figure_img{ height: 210px; }
    .row.m-tb-65{ margin: 0 -15px; }
    .row.m-tb-65 > div{ padding: 15px; }
    .why_borrow .title_wrap{ margin-bottom: 0; }
    .why_borrow_reasons .icon-content-flex .icon-content p{ display: block; font-size: 14px; line-height: 18px; margin-top: 5px; }
    .why_borrow_reasons .icon-content-flex{ align-items: flex-start; }
    .borrower-register_process .row.five-col-md > div{ -ms-flex: 0 0 100%; flex: 0 0 100%; width: 100%; max-width: 100%; }
    .documents_for_reg .doc_container .heading{ font-size: 14px; line-height: 18px; padding: 11px 16px; }
    .documents_for_reg .doc_container ul{ padding: 11px 16px; }
    .documents_for_reg .doc_container ul li{ font-size: 12px; line-height: 16px; margin-bottom: 10px; }
    .documents_for_reg .doc_container .box{ min-height: auto; }
    .documents_for_reg .doc_container .heading br{ display: none; }
    .check_cibil_score{ background-color: transparent; text-align: center; margin: 0; }
    .check_cibil_score .row > div{ padding: 15px; }
    .faqs .card .card-header{ min-height: 56px; display: flex; align-items: center; padding: 10px 15px; padding-right: 50px; }
    .faqs .card .card-body{ padding: 0 15px 15px; }
    .section.why_borrow{ padding-bottom: 0; }
    .slick-slider .slick-dots{ opacity: 1 !important; }
    .about-us_page .section{ padding-top: 35px; padding-bottom: 35px; }
    .section.about_us-sec{ padding-top: 0; }
    .about_us-sec .row>div, .why_are-sec .row > div{ padding: 15px; }
    .why_are-sec .img-side{ padding-left: 0 !important; padding-right: 0 !important; }
    .mission_vision_sec{ text-align: center; }
    .mission_vision_sec .row>div{ padding: 15px; }
    .mission_vision_sec .box{ padding: 24px 15px; border-radius: 5px; }
    .mission_vision_sec .box .icon-side{ margin: 0 auto 20px; }
    .mission_vision_sec .box .content-side{ width: 100%; padding: 0; }
    .mission_vision_sec .box h4{ font-size: 24px; }
    .mission_vision_sec .box p{ font-size: 14px; line-height: 18px; }
    .our_team_sec .box{ width: 265px; }
    .our_team_sec .box .member_img{ height: 265px; }
    .our_team_sec .row>div{ padding: 15px; }
    .our_team_sec .box figcaption .name{ font-size: 22px; line-height: 32px; }
    .our_team_sec .box figcaption .pose{ font-size: 16px; line-height: 24px; }
    .section.contact_form_section{ padding-top: 0; }
    .contact_form_section h1{ font-size: 28px; }
    .contact_form_section .title_wrap{ margin-bottom: 30px; }
    .contact_form_section .item_block .icon img{ width: 30px; }
    .contact_form_section .item_block p{ font-size: 14px; line-height: 18px; }
    .form_area::before{ display: none; }
    .form_area .form-label{ font-size: 14px; }
    .participate_section h4 br{ display: none; }

}

@media screen and (max-width: 479px){

    .carousal .slide{
        /* max-width: 295px !important; */
        max-width: 90vw !important;
        padding-left: 15px; padding-right: 15px;
    }
    .row--carousal > div{ padding: 0; }
    .faqs .card .card-header h6{ font-size: 12px; }
    .faqs .card .card-body p{ font-size: 12px; line-height: 16px; }
    .faqs .card .card-header .btn-accordian{ width: 54px; height: 54px; }
    .faqs .card .card-body ul li{ font-size: 12px; line-height: 16px; }
    .faqs .card .card-body ul{ padding-left: 10px; }
    .faqs .card{ border-radius: 3px; }

}